# python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# environment
.env
.venv
venv/
env/

# VS Code
.vscode/

# jupyter
.ipynb_checkpoints/

# distribution
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db